header{
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: auto;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 70px;
}
header ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    max-width: 910px;
    width: 100%;
    justify-content: space-between;
}
header ul li a{
    text-decoration: none;
    color: var(--clr1)
}
header ul li:last-child a{
    color: white;
    padding: 10px 40px;
    background-color: var(--clr1);
    border: 0 transparent;
    border-radius: 15px;
}
