header{
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
    transition: 200ms ease-out;
}
header *{
    transition: 200ms ease-out;
}
header #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1685px;
    width: 95%;
}
#logo{
    height: 70px;
}
header ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    max-width: 910px;
    width: 100%;
    justify-content: space-between;
}
header ul li a{
    text-decoration: none;
    color: var(--clr1)
}
header ul li:last-child a{
    color: white;
    padding: 10px 40px;
    background-color: var(--clr1);
    border: 0 transparent;
    border-radius: 15px;
}
.nav-colored{
    background-color: white;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
}
.nav-transparent{
    background-color: transparent;
}