#questionnaire{
    background-image: url("images/background/homepage-bg-lowOpacity.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#questionnaire:after{
/*    content: "";

/*    content: "";
    background-image: url("images/background/homepage-bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;*/
}
.questionnaire-heading{
    text-align: center;
    color: var(--clr1)
}
.questionnaire-list{
    max-width: 1200px;
    margin: auto;
    color: var(--clr1);
    padding-top: 20px;
    padding-left: 1.5rem;
}
.questionnaire-list li{
    padding-bottom: 1.5rem;
    /*margin-left: 1.5rem;*/
    border-bottom: 2px solid rgba(0,0,0,0.08);
    margin-bottom: 2rem;
}
.questionnaire-note{
    padding: 40px 0 40px;
    color: var(--clr1)
}
.questionnaire-note p{
    padding: 20px;
}
@media (max-width: 500px){
    #questionnaire{
        background: none;
        transition: 350ms;
    }
    #questionnaire:after{
        content: "";
        background-image: url("images/background/homepage-bg.jpg");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        transition: 350ms;
    }
}