#services-intro{
    /*background-color: #f3f3f3;*/
    height: 600px;
    background-image: url("images/background/services-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}
.services-collapsible-div {
    margin: 2em auto;
    /*border: 1px solid #ccc;*/
    /*box-shadow: 5px 5px 15px rgba(216, 216, 216, 0.5);*/
    color: #0976a7;
    max-width: 800px;
    width: 95%;
    /*margin: auto;*/
}

/*.services-collapsible-div > div:not(:last-child) {
    border-bottom: 1px solid #f7f7f7;
}*/

.services-collapsible-div > div > div {
    padding: 1em 0;
}

.services-collapsible-div > div > div > * {
    margin: 0;
}

.services-collapsible-div.single > div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.services-collapsible-div.single > div > div:first-child::before{
    content: '';
    margin-right: 1em;
    border: solid #333;
    border-width: 0 4px 4px 0;
    padding: 4px;
    transform: rotate(-45deg);
    transition: transform 0.4s linear;
}*/
/*.services-collapsible-div > div.open > div:first-child::before {
    transform: rotate(45deg);
    transition: transform 0.4s linear;
}*/

.services-collapsible-div.single > div > div:first-child > *{
    margin-top: 0.1em; /* Compansates text not optical centered */
}
.service-heading{
    font-size: 1.125rem;
    font-weight: 500;
}
.single>div.open .service-heading{
    font-size: 1.75rem;
    transition: 500ms;
}
.single>div.open .service-description{
    color: black;
    font-weight: 500;
    font-family: 'Muli', sans-serif !important;
    padding-bottom: 1rem;
}
.single>div.open .fa-angle-right{
    transform: rotate(90deg);
}
/*
.single>div{
    border-bottom: 1px solid var(--clr1);
}*/
.service-div{
    position: relative;
    border-bottom: 2px solid rgba(0,0,0,0.08);
    cursor: pointer;
}
/*.service-div:after{
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 25%;
    border-bottom: 1px solid var(--clr1);
}*/

.fa-angle-right{
    padding: 1rem;
}
@media (max-width: 768px){
    #services-intro{
        background-image: url("images/background/service-bg-mob.png");
        background-position: center center;
    }
}