body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.container{
    max-width: 1400px;
    width: 95%;
    margin: auto;
}
.container-full{
    max-width: 1685px;
    padding: 10px 2.5%;
    margin: auto;
}
.text-center{
    text-align: center;
}
.first-section{
    padding-top: 140px;
    z-index: 1;
}
#home-intro{
    text-align: center;
    padding-bottom: 8px;
    display: block;
    position: relative;
    /*z-index: 1;*/
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
}
#home-intro:after{
    content: "";
    background-image: url("images/background/homepage-bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#home-intro, #how-it-works, #intro-video, #clients p{
    color: var(--clr1)
}
.para{
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
#home-packages{
    display: flex;
    max-width: 870px;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.package-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 330px;
    margin: 0 20px;
}
.package-button-link {
    background-color: var(--clr1);
    width: 100%;
    border-radius: 20px;
    transition: 250ms;
}
.package-button-link:hover{
    transform: scale(1.02);
    -webkit-box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
    box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
}
.package-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 14px;
    text-decoration: none;
}
.package-button a p{
    color: white !important;
    font-size: 1rem;
    margin: 0;
}
.package-button img{
    height: 54px;
    padding-right: 20px;
}
.scroll{
    text-decoration: none;
    color: var(--clr1);
}

#how-it-works{
    background-color: #f3f3f3;
    padding: 40px 0 80px;
    position: relative;
}
.how-it-works-heading{
    text-align: center;
    border-bottom: 2px solid var(--clr1);
    max-width: max-content;
    width: 100%;
    margin: 0 auto 60px auto;
    position: relative;
}
.how-it-works-heading:after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    bottom: -3px;
    right: 0px;
    border-bottom: 5px solid var(--clr1);
}
#how-it-works ul{
    max-width: 1240px;
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    margin: auto;
}
#how-it-works ul li{
    background-color: white;
    max-width: 300px;
    margin: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.16);

}
#how-it-works ul li div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    text-align: center;
}
#how-it-works ul li img{
    height: 60px;
    padding: 20px 0 10px;
}
#how-it-works .bold-1rem{
    margin-bottom: 0;
}

/*laptop video div*/
#intro-video{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(44,192,211,1) 50%, rgb(44, 192, 211) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
#intro-video-div{
    max-width: 1024px;
    width: 100%;
    height: auto;
    position: relative;
}
.intro-video-link{
    place-self: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.24);
    position: absolute;
}
#intro-video a{
    color: var(--clr2);
    background-color: white;
    padding: 12px 54px;
    border: 5px solid var(--clr2);
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    margin-top: 40px;
    transition: 250ms;
}
#intro-video a:hover{
    transform: scale(1.02);
}

#resume-review-experts .container{
    padding-bottom: 120px;
    max-width: 1200px;
    margin: auto;
}
.resume-review-experts-heading{
    padding-top: 68px;
    /*width: max-content;*/
    text-align: center;
    margin: auto;
    padding-bottom: 60px;
    position: relative;
    color: var(--clr1);
}
.expert-card{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr1);
    color: white;
    max-width: 280px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 40px 0;
    margin: 0 auto 20px;
    -webkit-box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
    box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
}
.expert-card *{
    margin: 0;
}
.expert-name{
    margin-bottom: 20px;
}
.expert-intro{
    max-width: 240px;
    width: 100%;
    margin: auto;
    min-height: 133px;
}
.expert-link{
    margin-top: 32px;
}
.expert-card a{
    color: var(--clr1);
    background-color: #fff;
    border-radius: 15px;
    padding: 14px 44px;
    text-decoration: none;
    margin-top: 30px;
}

#clients{
    /*background-color: #f3f3f3;*/
    padding: 40px 0;
}
.clients-heading{
    max-width: max-content;
    padding-bottom: 80px;
    margin: auto;
    position: relative;
}
.client-icons{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    /*display: flex;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.client-icons img{
    max-height: 60px;
    place-self: center;
}

@media (max-width: 768px) {

    #home-packages{
        flex-direction: column;
        align-items: center;
    }
    .break-line{
        display: none;
    }
    #how-it-works ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .clients-heading{
        padding-bottom: 40px;
    }
    .client-icons{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    #clients p{
        text-align: center;
    }
}
@media (max-width: 500px) {
    .first-section{
        padding-top: 100px;
    }
    .first-section .regular-2rem{
        /*text-align: left;*/
    }
    .bold-italic-3rem{
        font-size: 2rem;
    }
    .para{
        text-align: justify;
    }
    #how-it-works ul{
        grid-template-columns: repeat(1, 1fr);
    }
    .client-icons img   {
        max-height: 40px;
    }
}

