.services-bg img {
    width: 100%;
}

.services-collapsible-div {
    margin: 2em auto;
    color: #0976a7;
    max-width: 800px;
    width: 95%;

}

.services-collapsible-div > div > div {
    padding: 1em 0;
}

.services-collapsible-div > div > div > * {
    margin: 0;
}

.services-collapsible-div.single > div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.services-collapsible-div.single > div > div:first-child > * {
    margin-top: 0.1em; /* Compansates text not optical centered */
}

.service-heading {
    font-size: 1.125rem;
    font-weight: 500;
}

.single > div.open .service-heading {
    font-size: 1.75rem;
    transition: 500ms;
}

.single > div.open .service-description {
    color: black;
    font-weight: 500;
    font-family: 'Muli', sans-serif !important;
    padding-bottom: 1rem;
}

.single > div.open .fa-angle-right {
    transform: rotate(90deg);
}

.service-div {
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    cursor: pointer;
}


.fa-angle-right {
    padding: 1rem;
}

@media (max-width: 768px) {
    .services-bg {
        padding-top: 74px;
    }
}