.center{
    text-align: center;
}
.page-heading{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: var(--clr1)
}
.blue{
    color: var(--clr1)
}
.pt-60{
    padding-top: 60px;
}
.pt-40{
    padding-top: 40px;
}
.pt-20{
    padding-top: 20px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-20{
    padding-bottom: 20px;
}
.link{
    text-decoration: none;
}
.m-auto{
    margin: auto;
}
.mobile-only{
    display: none;
}

@media (max-width: 767px){
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: unset;
    }
}